* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #171717;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container,
.footer-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding: 20px 0;
  background-color: #F2F2F2;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.picture {
  width: 48px;
  height: 48px;
}

nav ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li a {
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.btn-contact {
  background-color: #29B24E;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  transition: 0.3s;
}