* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #171717;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container,
.footer-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #F2F2F2;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.picture {
  width: 48px;
  height: 48px;
}

nav ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li a {
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.btn-contact {
  background-color: #29B24E;
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;
}

.information {
  width: 280px;
  flex-shrink: 0;
}

.information .filter-card {
  background-color: #fff;
  width: 280px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px 24px;

}

.information .filter-section {
  margin-bottom: 24px;
}

.information .section-title {
  font-size: 14px;
  font-weight: 600;
  color: #444;
  margin-bottom: 10px;
  display: block;
}

.information select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  font-size: 14px;
  outline: none;
}

.information label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: #333;
  margin-bottom: 8px;
  cursor: pointer;
}

.information label input[type="checkbox"] {
  accent-color: #16a34a;
  margin-right: 8px;
}

.information label span {
  color: #999;
  font-size: 12px;
}

.platform {
  position: relative;
  flex: 1; 
  border-radius: 24px;
  overflow: hidden;
}

.platform img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.platform-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #111;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter:blur(4px);
  padding: 20px 30px;
  border-radius: 12px;
}

.platform-content h1{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.platform-content p{
  font-size: 15px;
  color: #444;
  margin-bottom: 20px;
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 30px;
  padding: 8px 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  margin: 0 auto;
}

.search-box input{
  borber: none;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.search-box button{
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  color: #666;
}

@media (max-width: 900px) {
  .main-section {
    flex-direction: column;
    gap: 20px;
  }

  .information {
    width: 100%;
    order: 2;
  }

  .platform {
    width: 100%;
    height: 400px;
    order: 1;
  }
}